<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raedev.wink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
<!--        &lt;!&ndash;插件安装服务&ndash;&gt;-->
<!--        <service-->
<!--            android:name=".pm.PluginPackageManagerService"-->
<!--            android:exported="false" />-->
    </application>
</manifest>